{% from "macros/fields.tmpl" import render_input_field, render_password_field,
                                    render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Edit account{% endblock %}

{% block content %}
    {% include "shared/side_menu.tmpl" %}
    <h2 class="header_pages">List of aliases</h2>
    <div class="main_content">
        <table>
            {% for i in r %}
                {% if i['n'] == "zimbraMailAlias" %}
                    <tr>
                        <td>{{ i['_content'] }}</td>
                        <td><a href="{{url_for('auth.removealiaszimbra', id=id, alias=i['_content'])}}">Smazat</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}